@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,300italic,700,400italic,600italic);
body{
  margin-top: @navbar-height;
}

@navbar-push-width: 350px;

@navbar-push-transition-duration : .3s;
@navbar-push-transition-ease: ease;

.navbar {
  &-push {
    position: fixed;
    width: @navbar-push-width;
    height: @navbar-push-width;
    background-color: @gray;
    transition: @navbar-push-transition-duration @navbar-push-transition-ease;

    &.left {
      left: -@navbar-push-width;
      transition-property: left;

      &.open {
        left: 0;
      }
    }
    &.right {
      right: -@navbar-push-width;
      transition-property: right;
    }
    &.open {
      right: 0;
    }
  }
}
