@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,300italic,700,400italic,600italic);
body{
  margin-top: @navbar-height;
}

@navbar-push-width: 350px;

@navbar-push-transition-duration : .3s;
@navbar-push-transition-ease: ease;

.navbar {
  &-push {
    position: fixed;
    width: @navbar-push-width;
    height: @navbar-push-width;
    background-color: @gray;

    &.transitions, {
      &.left, &.right {
        transition-property: left right;
        transition-duration: .3s;
        transition-timing-function: ease;
      }
    }

    &.left {
      left: -@navbar-push-width;
      &.open {
        left: 0;
      }
      &.transitions {
        &.opening {
          left: 0;
        }
        &.closing {
          left: -@navbar-push-width;
        }
      }
    }
    &.right {
      right: -@navbar-push-width;
      &.open {
        right: 0;
      }
      &.transitions {
        &.opening {
          right: 0;
        }
        &.closing {
          right: -@navbar-push-width;
        }
      }
    }
  }
}
